.DS_Store
Thumbs.db
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.apk
*.aab
*.unitypackage
*.exe
*.app
*.dll
*.so
*.dylib
*.zip
*.tar.gz
UnityCrashHandler*
*.pidb
*.mdb
*.pdb
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.tmp
*.booproj
*.svd
*.db
*.opendb
*.VC.db
*.json.meta
*.pidb.meta
/[Aa]ssets/[Aa]ddressableAssetsData/*
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/[Bb]undledAssets/
!Assets/
!ProjectSettings/
!Packages/